#body{
    height: 100%;
    background-image: url("../icon/backg.jpg");
    background-size: 100%;
}
#login-box{
    width:60%;
    height:30%;
    margin:0px auto;
    padding-top: 20px;
    background: rgba(61, 121, 182, 0.5);
    color:black;
    box-shadow:0 0 8px rgba(0,0,0,.1);
}
#login-name{
    display: block;
    width: 70%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 10px auto;
    color: #777;
}
#login-btn{
    width: 40%;
    height: 30px;
    line-height: 30px;
    color: #eeeeee;
    background-color: #3194d0;
    border-radius: 15px;
    margin: 10px 65px;
    text-align: center;
}