.chat-header {
  position: sticky;
  top: 0;
  height: 8%;
  width: 100%;
  z-index: 100;

  background-color: #cbcbcb;

}

.chat-title {
  display: inline-block;

  margin-left: 3%;
  margin-top: 3%;

  font-size: 1.5em;
}

.chat-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;

  margin-top: 5%;
  margin-bottom: 5%;
}

#my-chat-icon {
  float: right;

  position: relative;
  top: 5px;
  right: 10px;
  height: 60px;
  width: 60px;

  border: gray solid 1px;
  border-radius: 5px;

  background-image: url("../icon/touxiang.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#chat-content {
  width: 70%;
  margin-right: 7%;
}

#chat-name {
  text-align: right;
  font-weight: bold;
  color: black;
}

#message-box {
  display: inline-block;
  float: right;

  padding: 10px;
  border-radius: 15px;

  font-size: 1.5em;

  background-color: #9eea6a;
}

#chat-name::after {
  content: ''; /*激活为元素*/
  display: inline-block;

  position: relative;
  top: 35px; /*距离参考物顶端的距离*/
  right: -19px; /*距离参考物右端*/
  width: 0;
  height: 0;

  border: solid 10px;
  border-color: transparent transparent transparent #9eea6a;
}

#room {
  position: relative;
  bottom: 0;
  height: 7%;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;

  height: 7%;
  width: 100%;

  background-color: #cbcbcb;
}

#voice-btn {
  float: left;

  width: 15%;
  height: 100%;

  background-image: url("../icon/biaoqing.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

#input-message {
  width: 65%;
  height: 100%;

  font-size: 1.3em;
}

#send-message {
  display: inline-block;
  float: right;

  padding-top: 3%;
  width: 20%;
  height: 100%;

  border: none;
  box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #4CAF50; /* Green */

  cursor: pointer;
}

#send-message:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
