.page-box2 {
  position: relative;
  width: 100%;
  height: 92%;
}

.page-box2 > div {
  height: 8%;
  border-bottom: #a8afb5 solid 1px;
}

.img-box2 {
  float: left;

  position: relative;
  top: 5px;
  left: 5px;
  height: 80%;
  width: 10%;

  border: gray solid 1px;
  border-radius: 5px;

  background-repeat: no-repeat;
  background-position: center;
}

.img-box2:nth-child(1) {
  background-image: url("../icon/dingyuehao.svg");
}

.img-box2:nth-child(2) {
  background-image: url("../icon/lianxirenmingdan.svg");
}

.img-box2:nth-child(3) {
  background-image: url("../icon/qunliao.svg");
}

.img-box2:nth-child(4) {
  background-image: url("../icon/gongzhonghao.svg");
}

div .text-box2 {
  float: right;

  position: relative;
  top: 5px;
  height: 80%;
  width: 80%;

  text-align: left;

  color: black;
}

.text {
  display: inline-block;

  margin-top: 8px;

  color: black;

  font-size: 1em;

}

.match {
  display: block;

  padding-left: 10px;

  text-align: left;

  color: grey;
  background-color: #eeeeee;
}